h1 {
  color: #000;
  text-align: center;
  text-decoration: underline;
  letter-spacing: 1px;
  font-family: serif;
}
p {
  color: #000;
  font-size: 18px;
  font-family: gill sans;
}
h2 {
  text-align: center;
  text-decoration: underline;
}
h3 {
  text-align: center;
  text-decoration: underline;
}
a:hover {
  color: white;
}
a {
  text-decoration: none;  
}
  p::first-letter {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
  }
  #first-name:hover {
    transform: translate(50px);
  }
  #surname:hover {
    transform: translate(50px);}
  table{
 margin-left:40%;
 border-collapse:collapse;
  }
  td, th {
    border: 2px solid black;
  }
  #time {
    font-size: 20px; 
  font-family: serif;}
  #img-japan {
    background-image: url(https://t3.ftcdn.net/jpg/02/65/23/70/360_F_265237090_Muthvb72m2POYFjyx7F5UCQLh9JdBtKN.jpg);
   background-size: cover;
  }
  #art{
    background-image: url(https://www.bokksu.com/cdn/shop/articles/art12.jpg?v=1727305570);
    background-size:contain;
  }
  #art p {
    color: white;
  }
  #cusine {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/94/East_West_sushi_01.jpg/330px-East_West_sushi_01.jpg);
    background-size: contain;
    opacity: 0.8;
  }
  #cusine p {
    color: rgb(255, 255, 255);
  }
  #tokyo {
    background-image: url(https://m.media-amazon.com/images/I/91BxOLGIyoL.jpg);
    background-size: contain;
    opacity: 0.7;
  }
  #tokyo p {
    color: white;
  }