h1 {
  color: #000;
  text-align: center;
  text-decoration: underline;
  letter-spacing: 1px;
  font-family: serif;
}
p {
  color: #000;
  font-size: 18px;
  font-family: gill sans;
}
h2 {
  text-align: center;
  text-decoration: underline;
}
h3 {
  text-align: center;
  text-decoration: underline;
}
a:hover {
  color: red;
}
a {
  text-decoration: none;
  
}
  p::first-letter {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
  }

  .img-Japan{
    border-radius: 8px;
    border: 1px solid;
    padding: 5px;
    width: 400px;
  }
  .img-Japan:hover {
    box-shadow: 2px 2px 2px 2px rgb(89, 150, 170);
  }
  #first-name:hover {
    transform: translate(50px);
  }
  #surname:hover {
    transform: translate(50px);
  }