h1 {
  color: #000;
  text-align: center;
}
p {
  color: #000;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
a {
  text-decoration: none;
}
.art-container {
 display: flex;
 gap: 20px;
 align-items: flex-start;
 margin-bottom: 30px; 
}
.art-container img {
  width: 250px;
  height: auto;
}
.art-container p {
  flex: 1;
  line-height: 1.6;
}
